* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #0D1B2A;
    color: #E0E1DD;
}

nav {
    padding-left: 0.5rem;
    padding-right: 1.0rem;
}

.navbar {
    position: relative;
    /* or fixed */
    width: 100%;
    height: 8.0rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    border: 0.25rem solid #127475;
}

.nav-item a {
    display: inline-block;
    padding: 1.0rem 1.5rem;
    text-decoration: none;
    color: #E0E1DD;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.7rem;
}

.logo {
    display: flex;
    text-decoration: none;
}

.logo-text {
    display: flex;
    color: #AF92C8;
    font-family: Consolas, 'Courier New', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 28.4444px;
    align-items: center;
    text-align: center;
    letter-spacing: -1px;
}

.logo-image {
    border: 2px solid #778DA9;
    margin: 0.6rem;
    margin-right: 2rem;
    width: 6.5rem;
}

.footer {
    position: relative;
    padding-top: 6rem;
}

.email {
    display: block;
    padding-top: 1rem;
}

.email a {
    text-decoration: none;
    color: #D7D9D4;
}

.footer p {
    font-family: Montserrat;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.footer-images {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.footer-image {
    display: flex;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1.4rem;
}

.hero-section-row {
    display: flex;
    justify-content: center;
    margin-bottom: 25%;
}

.hero-section-col {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.greeting-text {
    color: #bac8da;
    margin-top: 10rem;
    font-size: 3rem;
    font-family: Consolas, 'Courier New', monospace;
}

.hero-text {
    color: #758BA9;
    margin-top: 1.5rem;
    font-size: 6rem;
    font-family: Consolas, 'Courier New', monospace;
}

.darker-hero-text {
    font-size: 3rem;
    color: #4F627D;
}

.myself-image {
    margin-top: 10rem;
    margin-left: 0rem;
    width: 20%;
    height: 20%;
    border: 3px solid #E0E1DD;
}

.other-sections-col {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio-section-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section-col {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .projects-section-desc-col {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 .projects-section-image-col {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

.projects-section-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-section-row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.other-sections-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.other-sections-row {
    display: flex;
    justify-content: center;
}

.subsection-heading {
    color: #31649B;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 7rem;
    margin-bottom: 6.5rem;
}

.subsection-text {
    font-family: Consolas, 'Courier New', monospace;
    font-size: 2.4rem;
    color: #E0E1DD;
}

.project-name-text {
    color: #4281c5;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 3rem;
}

.project-name-text-lighter {
    color: #5498e0;
}